{% extends 'base.html.twig' %}

{% block body %}
    <h1>Существующие признаки</h1>
    <table class="table table-striped table-bordered">
        <tr>
            <th class="table-bordered">Название</th>
            <th class="table-bordered">Тип</th>
            <th class="table-bordered">Возможные значения</th>
        </tr>
        {% for sign in signs %}
            <tr>
                <td class="table-bordered">{{ sign.name }}</td>
                <td class="table-bordered">{{ sign.type }}</td>
                <td class="table-bordered">{{ sign.value }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}