{% extends 'base.html.twig' %}

{% block body %}
    {{ form(form) }}
    <br>
    <p>Предыдущие значения:</p>
    <ul>
        {% for sign in signs %}
            <li>
                {{ sign }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}