{% extends 'base.html.twig' %}

{% block body %}
    {% if id == 1 %}
        <span>Значения будут добавлены по умолчанию: 1, >1</span>
    {% elseif id == 3 %}
        <span>Значения будут добавлены по умолчанию: Да, Нет</span>
    {% endif %}
    {{ form(form) }}
{% endblock %}