<!DOCTYPE html>

<title>{{ title }}</title>

{% block body %}
    {#    <form action=""> #}
    {#        <span>Название признака</span> #}
    {#        <input type="text", id="name", name="name"> #}
    {#        <br> #}
    {#        <button type="submit"> #}
    {#            Создать признак #}
    {#        </button> #}
    {#        <br> #}
    {#        <button type="button">+</button> #}
    {#    </form> #}
    {% if id == 1 %}
        <span>Значения будут добавлены по умолчанию: 1, >1</span>
    {% elseif id == 2 %}
        <span>Введите каждое значение признака с новой строки</span>
    {% else %}
        <span>Значения будут добавлены по умолчанию: Да, Нет</span>
    {% endif %}
    {{ form(form) }}
{% endblock %}