{% extends 'base.html.twig' %}

{% block body %}
    <h1>Существующие жанры</h1>
    <table class="table table-striped table-bordered">
        <tr>
            <th class="table-bordered">Название</th>
            <th class="table-bordered">Признаки</th>
        </tr>
        {% for genre in genres %}
            <tr>
                <td class="table-bordered">{{ genre.name }}</td>
                <td class="table-bordered">
                    {% for sign in genre.value %}
                        {{ sign.name }}: {{ sign.value }} <br>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}