{% extends 'base.html.twig' %}

{% block body %}
    {{ form(form) }}
    <p> Предыдущие значения для жанра {{ name }}:</p>
    <ul>
        {% for sign in signs %}
            <li>
                {{ sign.name }}: {{ sign.value }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}