<!DOCTYPE html>

<title>{{ title }}</title>

{% block body %}
    {% if error %}
        <h1>Успешно обновлено!</h1>
    {% else %}
        <h1>При изменении жанра произошла ошибка</h1>
    {% endif %}
{% endblock %}