{% extends 'base.html.twig' %}

{% block body %}
    <h1>Классифицировать произведение</h1>
    {% if form is null %}
        <p>Проверка на полноту базы знаний не пройдена, проверьте жанры и признаки!</p>
    {% else %}
        {{ form(form) }}
    {% endif %}
{% endblock %}