{% extends 'base.html.twig' %}

{% block body %}
    {% if answers.error %}
        <h1>{{ answers.message }}</h1>
    {% else %}
        <h1>Результат классификации</h1>
        {% if answers.possible_genre|length > 0 %}
            <ul>
                {% for answer in answers.possible_genre %}
                    <li>{{ answer.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>Не удалось найти жанр с такими признаками</h3>
        {% endif %}
    {% endif %}
{% endblock %}